@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Space+Mono:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');




*{
    font-family: 'Space Mono', monospace;
}
body{
    margin: 2rem 5rem;
}
body > div{
    /* border:1px solid black; */
    height: 70vh;
    width: 95%;
    position: relative;
}

body > div > p{
    font-family: 'Inconsolata', monospace;
    letter-spacing: -1px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 15px;
    color: #333333
}
img{
    width: 439.22px;
    height: 347.43px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rest{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 72%;
}
h1{
    font-size: 54px;
    letter-spacing: 5px;
    margin-bottom: 1.1rem;
    color: #333333
}
.rest > p{
    margin-top: 0;
    width: 70%;
    font-size: 21px;
    color: #333333;
    letter-spacing: -1px;
}
button{
    margin-top: 1.5rem;
    width: 12rem;
    font-size: 11px;
    height: 3rem;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    cursor: pointer;
}
footer{
    margin-top: 7rem;
    color: gray;
    text-align: center;
    

}
@media (max-width:300px) {
    body{
        margin: 0;
        height: 110vh;
        
    }
    body div{
        width: 100%;
        height: 85%;
        /* padding: 1rem 2rem; */
        display: flex;
        flex-direction: column;
    }
    body div > :nth-child(2){
        justify-content: center;
        align-items: center;
    }
    
    body > div > p{
        margin-top: 2rem;
        margin-left:2.5rem ;
        position: relative;
        font-size: 16px;
       
    }
    
    img{
        position: relative;
        width: 286px;
        height: 238px;
        margin: 2rem auto 1rem;
    }
    .rest{
        margin-left: 2rem;
        position: relative;
        width: 85%;
    }
    h1{
        font-size:28px;
        width: 100%;
    }
    .rest > p {
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
    }
    button{
        width:10rem;
        height: 2.5rem;
        font-size: 10px;
    }
    footer{
        
        margin-top: 2rem;
        color: gray;
        text-align: center;
        font-size: 12px;
    
    }
}
@media (301px < width < 479px) {
    body{
        margin: 0;
        height: 110vh;
        
    }
    body div{
        width: 100%;
        height: 80%;
        /* padding: 1rem 2rem; */
        display: flex;
        flex-direction: column;
    }
    body div > :nth-child(2){
        justify-content: center;
        align-items: center;
    }
    
    body > div > p{
        margin-top: 2rem;
        margin-left:2.5rem ;
        position: relative;
        font-size: 16px;
       
    }
    
    img{
        position: relative;
        width: 286px;
        height: 238px;
        margin: 2rem auto 1rem;
    }
    .rest{
        margin-left: 2rem;
        position: relative;
        width: 85%;
    }
    h1{
        font-size:28px;
        width: 100%;
    }
    .rest > p {
        font-size: 16px;
        width: 100%;
        margin-bottom: 0;
    }
    button{
        width:10rem;
        height: 2.5rem;
        font-size: 10px;
    }
    footer{
        position: relative;
        margin-top: 1.5rem;
        color: gray;
        text-align: center;
        font-size: 12px;
    
    }
}

@media ( 480px < width<800px) {
    body{
        margin: 0;
        height: 100vh;
    }
    body div{
        width: 85%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    body div > :nth-child(2){
        justify-content: center;
        align-items: center;
    }
    
    body > div > p{
        position: relative;
        font-size: 16px;
       margin-bottom: 2rem;
    }

    
    img{
        display: inline;
        position: relative;
        width: 286px;
        height: 238px;
        margin: auto;
    }
    .rest{
        margin-top: 1rem;
        position: relative;
        width: 90%;
    }
    h1{
        font-size:28px;
    }
    .rest > p {
        font-size: 16px;
        width: 80%;
    }
    button{
        width:10rem;
        height: 2.5rem;
        font-size: 9px;
    }
    footer{
        margin-top: 1rem;
        color: gray;
        text-align: center;
        
    
    }
}
@media (800px < width < 1000px) {
    body{
        margin:2rem 3rem;
    }
    body>div{
        height: 36vh;
        width: 95%;
    }
    img{
        width: 350px;
        height: 280px;
        margin-top: 2.5rem;
    }
    
    h1{
        font-size:32px;
    }
    .rest{
        height: 70%;
        right: -2.5rem;
    }
    .rest > p {
        font-size: 16px;
        width: 80%;
    }
    button{
        margin-top: 2rem;
        width:11rem;
        height: 2.8rem;
        font-size: 11px;
    }
    footer{
        font-size: 12px;
        
    
    }
}
@media (1001px < width < 1200px) {
    body>div{
        height: 70vh;
    }
    img{
        width: 380px;
        height: 330px;
        margin-top: 2.5rem;
    }
    
    h1{
        font-size:32px;
    }
    .rest{
        height: 77%;
        right: -2.5rem;
    }
    .rest > p {
        margin-top: 2rem;
        font-size: 20px;
        width: 80%;
    }
    button{
        margin-top: 2rem;
        width:11rem;
        height: 2.8rem;
        font-size: 11px;
    }
    footer{
        margin-top: 3rem;
        
        font-size: 12px;
    
    }
}
